body {
	font-family: Arial;
	color: #474747;
	text-align: -webkit-center;
	margin: 0 auto;
}
button {
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #7F7F7F;
	background-color: #EDEDED;
	border-color: #EDEDED;
	border-style: solid;
	padding: 10px 15px 10px 15px;
	margin: 2px;
}
button:hover {
	color: black;
	border-color: #7F7F7F;
	border-style: solid;
	border-width: 1px;
}
a {
	text-decoration: none;
}
#topnav {
	margin-right: 20px;
	padding: 5px;
	float: right;
	font-size: 12px;
	-webkit-appearance: none;

}
#topnav li {
	display: inline;
	padding: 10px;
	

}
#topnav img {
	vertical-align: middle;

}

div {
	padding-top: 150px;
}
#search {
	width: 475px;
	height: 36px;
	margin: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #CECECE;
	background-image: url("images/microphone.png");
	background-repeat: no-repeat;
	background-position: right center;
}
#search:focus, #search:hover {
	border-color: #7F7F7F;
	border-style: solid;
	
}
footer {
	background-color: #F2F2F2;
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: 0;
	font-size: 13px;
}
#leftfooter {

	float: left;
	padding-left: 10px;

}
#rightfooter {
	
	float: right;
}
.footer {
	padding: 5px 10px 5px 10px;
	display: inline;
}
